@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --device-width: 100%;
}

body {
  text-align: center;
  margin: 0;
  background-color: black;
  font-family: 'Inter', sans-serif;
  width: var(--device-width);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}
