.keyboard {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: rgba(0, 0, 0, .20);
  user-select: none;
  transition: bottom 0.4s;
  backdrop-filter: blur(10px);
}

.keyboard_row {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard_button {
  display: inline-flex;
  height: 45px;
  width: 7.5%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.05rem;
  margin: 5px;
  border-radius: 5px;
  border: none;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255,255,255, 0.3);
}

@media (max-width: 460px) {
    .keyboard_button {
        margin: 3px 2px;
    }
}

@media (max-width: 375px) {
    .keyboard_button {
        margin: 2px 1.2px;
    }
}
